<form action="<{$action_url}>" method="POST">
<table style="width:100%;" border="0" class="outer" cellspacing="1" summary="bookmark registration format">
  <tr>
    <th colspan="2"><{$lang_form}></th>
  </tr>
  <tr>
    <td class="head"><{$lang_icon}></td>
    <td class="even"><{$bookicon}></td>
  </tr>
  <tr>
    <td class="head"><{$lang_name}></td>
    <td class="even"><input type="text" size="40" name="title" value="<{$bookname}>" /></td>
  </tr>
  <tr>
    <td class="head"><{$lang_modname}></td>
    <td class="even"><{$modulename}><input type="hidden" name="mid" value="<{$bookmid}>" /></td>
  </tr>
  <tr>
    <td class="head"><{$lang_url}></td>
    <td class="even"><{$bookurl}><input type="hidden" name="url" value="<{$bookurl}>" /></td>
  </tr>
  <tr>
    <td colspan="2" class="foot"><input type="submit" name="submit" value="<{$booksubmit}>" /></td>
  </tr>
</table>
<input type="hidden" name="op" value="save" />
<{$hiddenelements}>
</form>
<div align="center"><{$copyright}></div>