<h4><{$lang_bookmark}></h4>
<p><a href="<{$xoops_url}>/userinfo.php?uid=<{$userid}>"><{$lang_profile}></a>&nbsp;<span style="font-weight:bold;">&raquo;&raquo;</span>&nbsp;<{$lang_bookmark}></p>
<{if $navi != ""}>
<div align="center"><{$navi}></div>
<{/if}>
<form name="bookmark" action="<{$action_url}>" method="post">
<table border="0" class="outer" cellspacing="1" cellpadding="4" summary="bookmark table" style="width:100%">
  <tr>
    <th width="10" align="center"><input id="allbox" onclick="xoopsCheckGroup('bookmark', 'allbox', 'del_bok[]');" type="checkbox" value="<{$lang_checkall}>" name="allbox" /></th>
    <th width="10" align="center">&nbsp;</th>
    <th><{$lang_link}></th>
    <th width="120" align="center"><{$lang_module}></th>
    <th width="80" align="center"><{$lang_counter}></th>
  </tr>
  <{foreach item=b from=$bookmarks}>
  <tr>
    <td class="even" width="10" align="center"><input id="del_bok[]" type="checkbox" value="<{$b.id}>" name="del_bok[]" /></td>
    <td class="even" width="10" align="center"><img src="<{$b.icon}>" alt="" /></td>
    <td class="even"><a href="<{$b.url}>"><{$b.link}></a></td>
    <td class="even" width="120" align="center"><{$b.module}></td>
    <td class="even" width="80"><nobr><{$b.countimg}></nobr></td>
  </tr>
  <{/foreach}>
  <tr>
    <{if count($bookmarks) > 0}>
    <td class="foot" colspan="5"><input id="del" name="del" type="submit" value="<{$lang_del}>" /></td>
    <{else}>
    <td class="odd" colspan="5" align="center"><{$lang_nobookmarks}></td>
    <{/if}>
  </tr>
</table>
<{$hiddenelements}>
</form>
<{if $navi != ""}>
<div align="center"><{$navi}></div>
<{/if}>
<{if $perm_by_url == 1}>
<form name="addbookmark" action="<{$action_url_add}>" method="post">
<table border="0" class="outer" cellspacing="1" cellpadding="4" summary="table of addition of bookmark" style="width:100%">
  <tr>
    <th colspan="2"><{$lang_addbm_by_url}></td>
  </tr>
  <tr>
    <td class="head"><{$lang_url}></td>
    <td class="even"><input type="text" name="url" id="url" value="" size="100" />&nbsp;&nbsp;<input id="add" name="add" type="submit" value="<{$lang_add}>" /><{$lang_onlyself}></td>
  </tr>
</table>
</form>
<{/if}>
<div align="center"><br /><br /><{$copyright}></div>